<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ML-API</title>
  </head>
  <body>
    <form action="/api" method="POST" class="form">
      <div class="user-box">
        <input type="text" name="url" required />
        <label>URL</label>
      </div>
      <input type="submit" value="SUBMIT" class="sub" />
    </form>
  </body>
</html>
